.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.content > h1 {
       text-align: center;
       background-color: rgb(255,255,255);
}

.search{
    text-align: center;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.search > h3 {
    color: rgb(255,217,112);
    -webkit-text-stroke-color: rgb(42,110,182);
    -webkit-text-stroke-width: 0.85px;
}
.search > input {
    background-color: rgba(245, 245, 245, 0.803);
    color: black;
    box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    border-color: #b0aab0;
    border: 1px solid #b0aab0;
    border-radius: 30px 30px 30px;
    text-align: center;
    
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: rgb(70,209,178);
}

.fire {
    background-color: rgb(251,108,108);
}

.water {
    background-color: rgb(119,190,254);
}

.electric {
    background-color: rgb(255,217,112);
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
    padding: 1.2rem;
    border-radius:1rem;
    box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    

}

.pokemon .number {
    color:white;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    text-transform: capitalize;
    color: white;
    margin-bottom: 0.25rem;

}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;

}

.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}


.pokemon .detail img {
    max-width: 100%;
    height: 70px;
  
 
}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
 
.pagination button {
    padding: .25rem .5rem;
    color: rgb(255,217,112);
    -webkit-text-stroke-color: rgb(42,110,182);
    -webkit-text-stroke-width: 0.05px;
    background-color: rgb(42,110,182);
    box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    border: none;
    border-radius: 1rem;
    font-size: .625rem;
}
 @media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr ;
    } 
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}

 